.main-header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100%;
}
.main-nav {
  display: flex;
  column-gap: 3rem;
  font-size: 1.8rem;
  color: var(--clr-primary-200);
  cursor: pointer;
}
.header-icons {
  display: flex;
  column-gap: 4rem;
  align-items: center;
  position: relative;
}

.header-icons button {
  background: transparent;
  padding: 1rem 3rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  color: var(--clr-primary-200);
  border: 1px solid var(--clr-primary-200);

  cursor: pointer;
  transition: 0.3s;
}
.header-icons button:hover {
  background-color: tomato;
  border: 1px solid tomato;
  color: #fff;
}
.active {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--clr-primary-200);
  font-weight: 700;
}
.header-icons .dot {
  position: absolute;
  min-height: 0.8rem;
  min-width: 0.8rem;
  background-color: tomato;
  border-radius: 0.5rem;
  top: 0px;
  left: 88px;
}

@media (max-width: 1050px) {
  .main-header .log {
    width: 14rem;
  }
  .main-nav {
    gap: 2rem;
    font-size: 1.7rem;
  }
  .header-icons {
    gap: 3rem;
  }
  .header-icons img {
    width: 2.2rem;
  }
  .header-icons button {
    padding: 0.8rem 2.5rem;
  }
}

@media (max-width: 900px) {
  .main-header .log {
    width: 12rem;
  }
  .main-nav {
    gap: 1.5rem;
    font-size: 1.6rem;
  }
  .header-icons {
    gap: 2rem;
  }
  .header-icons img {
    width: 2rem;
  }
  .header-icons button {
    padding: 0.7rem 2rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 750px) {
  .main-nav {
    display: none;
  }
}
