@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --clr-primary-200: #49557e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  min-height: 100h;
  font: inherit;
  font-family: Outfit, sans-serif;
  width: 80%;
  margin: auto;
}
li,
a {
  list-style: none;
  text-decoration: none;
}
.app {
  width: 80%;
  margin: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
